.catalog{
  margin-bottom: 120px;

  &__title{
    margin-bottom: 35px;
  }
  &__desc{
    font-weight: 500;
    font-size: 20px;
    letter-spacing: -0.01em;
    margin-bottom: 35px;
    color: var(--gray);
    display: none;
  }
  &__grid{
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(300px, 330px));
      justify-content: center;
      row-gap: 35px;
      column-gap: 30px;
  }
  &__card{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    align-items: center;
    &-img{
      background-color: var(--white);
      box-shadow: var(--shadow);
      border-radius: 20px;

      width: 100%;
      img{
        width: 100%;
        max-width: 280px;
      }
    }
    &-title{
      font-weight: 600;
      font-size: 20px;
      letter-spacing: -0.01em;
      text-align: center;
    }

    @media(any-hover:hover){
      cursor: pointer;
      &-img, &-title{
        transition: all 0.3s ease 0s;
      }

      &:hover{
        & .catalog__card-img{
          box-shadow: inset 0 15px 35px 0 rgba(22, 22, 22, 0.1), inset 0 0 45px 0 rgba(0, 0, 0, 0.05);
          background: var(--light-gray);
        }
        & .catalog__card-title{
          color: var(--orange-2);
        }
      }
    }
  }

  @media(max-width: 992px){
    margin-bottom: 80px;

    &__title{
      text-align: center;
    }

    &__desc{
      text-align: center;
      display: block;
    }

    &__grid{
      grid-template-columns: 1fr 1fr;
      gap: 0;
    }
    &__card{
      padding: 35px 0;
      border-bottom: 1px solid var(--light-gray);
      column-gap: 30px;
      flex-direction: row;

      &:nth-child(odd){
        padding-right: 15px;
        border-right: 1px solid var(--light-gray);
      }
      &:nth-child(even){
        padding-left: 15px;
      }
      &:nth-last-child(-n + 2){
        border-bottom: 0;
      }

      &-img{
        background: transparent;
        box-shadow: none;
        width: 100%;
        max-width: 98px;

        img{
          max-width: 100%;
        }
      }
      &-title{
        text-align: left;
        font-size: 25px;
        color: var(--dark);
      }

      &:hover{
        & .catalog__card-title{
          color: var(--red);
        }
      }
    }
  }
  @media(max-width: 680px){
    margin-bottom: 40px;

    &__title, &__desc{
      margin-bottom: 20px;
    }



    &__desc{
      font-size: 10px;
      line-height: 12px;
    }

    &__card{
      padding-top: 15px;
      padding-bottom: 15px;
      column-gap: 7px;

      &-img{
        max-width: 34px;
      }
      &-title{
        font-weight: 700;
        font-size: 10px;
      }
    }
  }

}
