.main {
  margin-bottom: 120px;

  &__body {
    padding: 35px 0;
    display: flex;
    gap: 30px;
  }

  &__banners-slider-body {
    height: 100%;
    overflow: hidden;
    // @media (min-width: 992px) {
    //   pointer-events: none;
    // }
  }
  &__banners-slider {
    height: 100%;
  }
  &__banners-pagination {
    margin-top: 35px;
    display: flex;
    justify-content: space-between;
    gap: 10px;
    padding: 0 15px;

    @media (max-width: 680px) {
      margin-top: 15px;
    }

    & .swiper-pagination-bullet {
      width: 100%;
      height: 4px;
      border-radius: 5px;
      background-color: var(--light-gray);
      transition: all 0.2s ease 0s;

      &.swiper-pagination-bullet-active {
        background-color: var(--gray);
      }
    }
  }
  &__banners {
    width: 100%;
    display: grid;
    grid-template-columns: 69% 27%;
    grid-template-rows: 274px 274px;
    // flex: 1 1 auto;
    grid-template-areas:
      "big1 small2"
      "big1 small3";
    row-gap: 30px;
    align-items: center;
    align-content: space-between;
    justify-content: space-between;

    @media (max-width: 992px) {
      grid-template-rows: 226px 226px;
      padding: 0 15px;
      gap: 11px;
    }

    @media (max-width: 680px) {
      grid-template-areas:
        "big1 big1"
        "small2 small3";
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 224px 140px;
      row-gap: 10px;
    }
  }
  &__banner-1 {
    grid-area: big1;
  }

  &__banner-2 {
    grid-area: small2;
  }

  &__banner-3 {
    grid-area: small3;
  }

  &__banner {
    border-radius: 20px;
    background: #212125;
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    font-family: $fontOpenSans;

    &-info {
      display: flex;
      flex-direction: column;
      align-items: center;
      color: var(--white);
      width: 100%;
      text-shadow: 1px 1px 2px #212125;
    }

    &-slogan {
      color: var(--orange);
      text-align: center;
    }

    &-desc {
      text-align: center;
    }

    &.main__banner-big {
      justify-content: end;
      align-items: start;
      padding: 62px 20px;

      @media (max-width: 992px) {
        padding: 50px 15px;
      }
      @media (max-width: 680px) {
        flex-direction: row;
        padding: 5px;
        justify-content: space-between;
        align-items: center;
        gap: 5px;
      }

      & .main__banner-bg {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: -1;
        top: 0;
        left: 0;
      }

      & .main__banner-img {
        position: absolute;
        right: 23px;
        top: 23px;
        z-index: -1;

        @media (max-width: 992px) {
          right: 19px;
          top: 19px;
        }
        @media (max-width: 680px) {
          position: static;
          width: 100%;
          max-width: 109px;
          object-fit: contain;
        }
      }

      & .main__banner-info {
        width: 100%;
        max-width: 410px;
        gap: 35px;

        @media (max-width: 992px) {
          gap: 27px;
        }

        @media (max-width: 680px) {
          gap: 14px;
          width: auto;
        }
      }

      & .main__banner-name {
        font-weight: 700;
        font-size: 32px;
        letter-spacing: 0.01em;
        max-width: 340px;
        line-height: 44px;

        span {
          font-size: 24px;
          line-height: 33px;
        }

        @media (max-width: 992px) {
          font-size: 25px;
          line-height: 35px;
          span {
            font-size: 19px;
            line-height: 26px;
          }
        }

        @media (max-width: 680px) {
          font-size: 12px;
          line-height: 17px;
          max-width: 126px;
          span {
            font-size: 9px;
            line-height: 13px;
          }
        }
      }

      & .main__banner-slogan {
        font-weight: 800;
        font-size: 32px;
        letter-spacing: 0.01em;
        text-transform: uppercase;
        line-height: 44px;

        @media (max-width: 992px) {
          font-size: 25px;
          line-height: 35px;
        }

        @media (max-width: 680px) {
          font-size: 12px;
          line-height: 17px;
        }
      }

      & .main__banner-desc {
        font-weight: 700;
        font-size: 24px;
        letter-spacing: 0.01em;
        line-height: 33px;

        @media (max-width: 992px) {
          font-size: 19px;
          line-height: 26px;
        }
        @media (max-width: 680px) {
          font-size: 9px;
          line-height: 13px;
        }
      }
    }

    &.main__banner-small {
      justify-content: center;
      align-items: center;
      flex-direction: column;
      padding: 23px 10px;

      @media (max-width: 992px) {
        padding: 19px 0;
      }
      @media (max-width: 680px) {
        padding: 7px;
        justify-content: space-between;
        align-items: center;
        gap: 5px;
      }

      & .main__banner-bg {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: -1;
        top: 0;
        left: 0;
      }

      & .main__banner-img {
        width: 100%;
        max-width: 82%;
      }

      & .main__banner-info {
        width: 100%;
        max-width: 200px;
        gap: 15px;
        align-items: center;

        @media (max-width: 992px) {
          gap: 12px;
          max-width: 161px;
        }

        @media (max-width: 680px) {
          gap: 5px;
          max-width: 115px;
        }
      }

      & .main__banner-name {
        font-weight: 700;
        font-size: 12px;
        letter-spacing: 0.01em;
        text-align: center;
        max-width: 340px;
        line-height: 16px;

        @media (max-width: 992px) {
          font-size: 9px;
          line-height: 13px;
        }

        @media (max-width: 680px) {
          font-size: 8px;
          line-height: 10px;
          max-width: 126px;
        }
      }

      & .main__banner-slogan {
        font-weight: 600;
        font-size: 12px;
        letter-spacing: 0.01em;
        line-height: 16px;

        @media (max-width: 992px) {
          font-size: 9px;
          line-height: 13px;
        }

        @media (max-width: 680px) {
          font-size: 8px;
          line-height: 10px;
        }
      }
    }
  }

  @media (max-width: 992px) {
    margin-bottom: 80px;

    &__body {
      padding: 0;
    }
    & .catalog-menu {
      padding: 15px;
      flex-direction: row;
      align-items: center;
      border-radius: 0;
      overflow: auto;
      max-width: 100%;

      &__link {
        white-space: nowrap;
      }
    }
    &__body {
      gap: 30px;
      flex-direction: column;
    }
    // &__banners {
    //   gap: 11px;
    //   max-width: 100%;
    // }
  }

  @media (max-width: 680px) {
    margin-bottom: 40px;
    &__container {
      padding: 0;
    }
    & .catalog-menu {
      &__link {
        font-weight: 700;
        font-size: 10px;
        letter-spacing: -0.01em;
        // white-space: normal;

        br {
          display: block;
        }

        & .catalog-menu__element,
        & .catalog-menu__arrow {
          display: none;
        }
      }
    }
    &__search {
      margin: 0 15px;
      i {
        color: var(--red);
      }
    }
    &__banners-pagination {
      margin-top: -15px;
    }
    // &__banners {
    //   gap: 10px;
    // }
  }
}
