.product-card {
  &__body {
    display: flex;
    column-gap: 30px;
    row-gap: 35px;
  }
  &__left,
  &__right {
    width: 100%;
    max-width: 50%;
  }
  &__gallery {
    width: 100%;
    position: relative;
    border-radius: 40px;
    background-color: var(--white);
    box-shadow: 0 7px 20px 0 rgba(127, 127, 127, 0.2);
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: 35px;
  }
  &__video {
    position: absolute;
    top: 33px;
    right: 33px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 600;
    font-size: 16px;
    letter-spacing: -0.01em;
    text-align: center;
    color: var(--gray);
    background: transparent;
    z-index: 10;

    i {
      --size: 70px;
      color: var(--orange-2);
    }
  }
  &__slider {
    width: 100%;
    img {
      width: 100%;
      max-width: 505px;
      object-fit: cover;
    }
  }
  &__slider-thumb-body{
    display: flex;
    align-items: center;
    gap: 30px;
  }
  &__slider-thumb-wrapper{
    padding: 0 10px;
    width: 100%;
    overflow: hidden;
  }
  &__slider-thumb {
    width: 100%;
    padding: 0 10px;

    img {
      width: 100%;
      max-width: 90px;
    }

    & .swiper-slide {
      box-shadow: 0 7px 20px 0 rgba(127, 127, 127, 0.2);
      background-color: var(--white);
      border-radius: 10px;
      width: 100%;
    }

    &-prev,
    &-next {
      background-color: var(--white);
    }
  }

  &__slider-thumb-button{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    border: 2px solid var(--red);
    box-shadow: 0 7px 20px 0 rgba(127, 127, 127, 0.2);
    color: var(--red);
    width: 55px;
    height: 35px;

    &.swiper-button-disabled{
      border-color: var(--gray);
      color: var(--gray);
    }
  }

  &__right{
    display: flex;
    flex-direction: column;
    gap: 60px;
  }

  &__info{
    display: flex;
    flex-direction: column;
    gap: 25px;
  }

  &__col{
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  &__row{
    display: flex;
    gap: 15px;
    align-items: center;
  }

  &__title{
    color: var(--gray);
  }
  &__code{
    display: flex;
    align-items: center;
    gap: 10px;
    color: var(--gray);

    i{
      color: var(--gray);
      --size: 25px;
    }
  }
  &__stock{
    display: flex;
    align-items: center;
    gap: 10px;
    color: var(--green);

    & .icon{
      background: var(--green);
      border-radius: 3px;
      color: var(--white);
      height: 30px;
      width: 30px;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    i{
      --size: 24px;
    }
  }

  &__price-old{
    display: flex;
    color: var(--gray);
  }
  &__price{
    color: var(--green);
  }
  &__cart{
    display: flex;
    gap: 14px;
    align-items: center;
    padding: 20px 50px;

    i{
      --size: 30px;
    }
  }
  &__button{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
    i {
      --size: 42px;

    }
  }
  &__tabs{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 35px;

    &-nav{
      display: flex;
      justify-content: space-between;
    }

    &-block{
      display: none;
      flex-direction: column;
      gap: 35px;
      align-items: flex-start;

      &._active{
        display: flex;
      }
    }
  }

  &__tab{
    background: transparent;
    color: var(--gray);
    transition: all 0.3s ease 0s;

    &._active{
      color: var(--orange-2)
    }
  }

  &__stats-list{
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  &__read{
    color: var(--orange-2);
    background: transparent;
  }
}
