.reviews{
  margin-bottom: 120px;

  &__body{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 35px;
  }

  &__title{
    text-align: center;
  }

  &__slider-body{
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 1170px;
    position: relative;
    padding: 0 98px;
  }

  &__slider{
    width: 100%;
    max-width: 930px;
  }

  &__slider-button{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 55px;
    height: 35px;
    box-shadow: 0 7px 20px 0 rgba(127, 127, 127, 0.2);
    border-radius: 5px;
    background-color: var(--white);
    border: 2px solid var(--red);
    color: var(--red);
    transition: all 0.3s ease 0s;
    z-index: 10;

    &.reviews__slider-prev{
      left: 0;
    }
    &.reviews__slider-next{
      right: 0;
    }

    &.swiper-button-disabled {
      border: 2px solid var(--gray);
      color: var(--gray);
    }

    i{
      --size: 20px;
    }
  }

  &__review{
    display: flex;
    flex-direction: column;
    gap: 35px;
    align-items: center;

    &-name{
      font-weight: 600;
      font-size: 20px;
      letter-spacing: -0.01em;
      text-align: center;
      color: var(--orange-2)
    }
    &-rate{
      display: flex;
      gap: 2px;

      i{
        --size: 35px;
      }
    }
    &-text{
      font-weight: 500;
      font-size: 20px;
      letter-spacing: -0.01em;
      text-align: center;
    }
  }

  @media(max-width: 992px){
    margin-bottom: 80px;
  }

  @media(max-width: 680px){
    margin-bottom: 40px;

    &__body{
      gap: 20px;
    }

    &__slider-body{
      padding: 0;
    }

    &__slider-button{
      width: 40px;
      height: 25px;
      top: 15%;
      transform: none;
    }

    &__review{
      gap:20px;
      &-name{
        font-weight: 700;
        font-size: 10px;
        line-height: 12px;
      }
      &-rate{
        i{
          --size: 20px
        }
      }
      &-text{
        font-size: 10px;
        line-height: 12px;
      }
    }
  }
}
