.dropdown {
  position: relative;

  & .dropdown-open {
    background: transparent;
  }

  & .dropdown-list {
    position: absolute;
    top: calc(100% + 5px);
    left: 0;
    width: 100%;
    max-height: 200px;
    min-width: 180px;
    overflow: auto;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 7px 20px 0 rgba(127, 127, 127, 0.2);
    background-color: var(--white);
    z-index: 200;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
    opacity: 0;
    pointer-events: none;
    transition: all 0.1s ease 0s;

    @media (max-width: 992px) {
      max-height: 117px;
      min-width: 146px;
    }

    li {
      font-weight: 500;
      font-size: 14px;
      letter-spacing: -0.01em;
      text-align: left;
      color: #222;

      @media (max-width: 992px) {
        font-size: 10px;
      }

      @media (any-hover: hover) {
        cursor: pointer;
        transition: all 0.3s ease 0s;
        &:hover {
          color: var(--orange-2);
        }
      }
    }
  }

  &.active {
    & .dropdown-list {
      pointer-events: auto;
      opacity: 1;
    }
  }
}

.search-input {
  flex: 1 1 auto;
  border-radius: 10px;
  padding: 12px 17px;
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: var(--white);
  box-shadow: var(--shadow);

  i {
    --size: 25px;
  }

  input {
    font-weight: 500;
    font-size: 20px;
    letter-spacing: -0.01em;
    flex: 1 1 auto;
    &:placeholder {
      color: var(--gray);
    }

    @media (max-width: 680px) {
      font-weight: 500;
      font-size: 10px;
      letter-spacing: -0.01em;
    }
  }

  @media (max-width: 992px) {
    padding: 10px 15px;

    i {
      --size: 25px;
    }
  }

  @media (max-width: 680px) {
    i {
      --size: 20px;
    }
  }
}

.card {
  height: auto;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  border: 0.5px solid transparent;
  box-shadow: 0 7px 20px 0 rgba(127, 127, 127, 0.2);
  background-color: var(--white);
  padding: 25px;
  transition: all 0.3s ease 0s;
  width: 100%;
  max-width: 330px;

  @media (any-hover: hover) {
    cursor: pointer;
    transition: all 0.3s ease 0s;
    &:hover {
      border-color: var(--orange-2);
      box-shadow: 0 7px 30px 0 rgba(245, 119, 2, 0.2);
    }
  }

  &__status {
    align-self: flex-end;
    font-weight: 600;
    font-size: 20px;
    letter-spacing: -0.01em;
    color: var(--green);
    line-height: 24px;
  }

  &__img {
    width: 100%;
    max-width: 197px;
  }

  &__info {
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex: 1 1 auto;
    justify-content: space-between;
  }
  &__name {
    font-weight: 600;
    font-size: 20px;
    letter-spacing: -0.01em;
    line-height: 24px;
  }
  &__bottom {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  &__rate {
    display: flex;
    gap: 2px;

    i {
      --size: 25px;
    }
  }
  &__actions {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0px;
    flex-wrap: wrap;
  }
  &__price {
    font-weight: 700;
    font-size: 26px;
    line-height: 32px;
    letter-spacing: -0.01em;
  }
  &__buttons {
    display: flex;
    gap: 6.5px;
  }
  &__button {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid transparent;
    border-radius: 10px;
    width: 50px;
    height: 50px;

    &.card__button-heart {
      border-color: var(--orange-2);
      color: var(--orange-2);
      background-color: var(--white);
    }

    &.card__button-basket {
      border-color: var(--orange-2);
      color: var(--white);
      background-color: var(--orange-2);

      &.active {
        background-color: var(--white);
        color: var(--orange-2);
      }
    }

    i {
      --size: 30px;
    }
  }

  &.empty {
    & .card__button {
      &.card__button-basket {
        background-color: var(--gray);
        border-color: var(--gray);
      }
    }

    & .card__price,
    & .card__name {
      color: var(--gray);
    }
  }

  @media (max-width: 992px) {
    padding: 15px;
    &__status,
    &__name {
      font-size: 16px;
      line-height: 20px;
    }
    &__img {
      max-width: 140px;
    }
    &__price {
      font-size: 20px;
      line-height: 24px;
    }
    &__actions {
      gap: 10px;
    }
    &__buttons {
      gap: 9px;
    }
    &__button {
      border-width: 1px;
      border-radius: 7px;
      width: 35px;
      height: 35px;
      i {
        --size: 20px;
      }
    }
    &__rate{
  i{
    --size: 20px;
  }
}
  }

  @media (max-width: 680px) {
    &__status,
    &__name {
      font-size: 8px;
      line-height: 10px;
    }
    &__info {
      gap: 6px;
    }
    &__img {
      max-width: 90px;
    }
    &__price {
      font-size: 10px;
      line-height: 12px;
    }
    &__actions {
      gap: 5px;
    }
    &__buttons {
      gap: 2.5px;
    }
    &__button {
      border-radius: 4px;
      width: 25px;
      height: 25px;
      i {
        --size: 15px;
      }
    }
    &__rate{
      i{
        --size: 12px;
      }
    }
  }
}

.button{
  --bg: var(--white);
  --bg-hover: var(--white);
  --text: var(--dark);
  padding: 30px 45px;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: -0.01em;
  border: 2px solid var(--bg);
  background-color: var(--bg);
  color: var(--text);
  border-radius: 20px;
  text-transform: uppercase;

  &.red{
    --bg: var(--red);
    --bg-hover: var(--red-hover);
    --text: var(--red);
  }

  &.orange{
    --bg: var(--orange);
    --bg-hover: var(--orange-hover);
    --text: var(--white);
  }

  @media(any-hover:hover){
    cursor: pointer;
    transition: all 0.2s ease 0s;

    &:hover{
      background-color: var(--bg-hover);
      border-color: var(--bg-hover);
    }
  }

  @media(max-width: 992px){
    background-color: var(--white);
    color: var(--red);

    @media(any-hover:hover){
      cursor: pointer;
      transition: all 0.2s ease 0s;

      &:hover{
        border-color: var(--bg);
        background-color: var(--bg);
        color: var(--text);
      }
    }
  }
  @media(max-width: 680px){
    font-weight: 700;
    font-size: 10px;
    letter-spacing: -0.01em;
    line-height: 12px;
  }



  &.outlined{
    background-color: transparent;
    color: var(--bg);

    @media(any-hover:hover){
      cursor: pointer;
      transition: all 0.2s ease 0s;

      &:hover{
        border-color: var(--bg);
        background-color: var(--bg);
        color: var(--text);
        }
    }
  }
}

.title{
  font-weight: 700;
  font-size: 36px;
  line-height: 43px;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: var(--gray);

  @media(max-width: 680px){
      font-size: 20px;
      line-height: 24px;
  }
}
