<div class="about">
  <div class="about__wrapper">
    <img class="about__decor not-mob not-table" src="./img/about/decor.png" alt="">
    <div class="about__container _container">
      <div class="about__body">
        <div class="about__col">
          <div class="about__img">
            <img class="about__light" src="./img/about/light.png" alt="">
            <img class="about__car" src="./img/about/car.png" alt="">
          </div>
          <p class="about__text">
            <span class="text-red">Наші цінності</span> – це якість, надійність та інновації. Ми ретельно обираємо кожен продукт, щоб він відповідав найвищим стандартам.
          </p>

          <p class="about__text">
            Клієнти довіряють нам, тому що ми надаємо не тільки якісні товари, але й відмінне обслуговування.
          </p>

          <button class="about__button button red outlined tablet">ПЕРЕГЛЯНУТИ НАЙКРАЩІ ТОВАРИ</button>
        </div>
        <div class="about__col">
          <h2 class="about__title title">
            <span class="text-red">Наша компанія:</span>
            Професіонали автосвітла
            та аксесуарів
          </h2>

          <p class="about__text">
          <span class="text-red">Ми</span> – команда професіоналів, що понад 12 років працює на ринку автомобільного освітлення та аксесуарів.
          </p>

          <p class="about__text">
            <span class="text-red">Наша місія</span> – забезпечити вас найкращими рішеннями для покращення видимості та безпеки на дорозі.
          </p>

          <button class="about__button button red outlined not-tablet">ПЕРЕГЛЯНУТИ НАЙКРАЩІ ТОВАРИ</button>
        </div>
      </div>
    </div>
  </div>
</div>
