<div class="catalog @@if(context.className){@@className}">
  <div class="catalog__wrapper">
    <div class="catalog__container _container">
      <div class="catalog__body">
          <h2 class="catalog__title title">Каталог</h2>

          <p class="catalog__desc">
            Все для Вашого автомобіля: Якісне автосвітло та аксесуари для безпечної та комфортної поїздки.
          </p>

          <div class="catalog__grid">
            <div class="catalog__card">
              <div class="catalog__card-img">
                <img src="./img/catalog/1.png" alt="">
              </div>

              <h3 class="catalog__card-title">
                Акустичні системи
              </h3>
            </div>
            <div class="catalog__card">
              <div class="catalog__card-img">
                <img src="./img/catalog/2.png" alt="">
              </div>

              <h3 class="catalog__card-title">
                Мультимедійні системи 2-DIN
              </h3>
            </div>
            <div class="catalog__card">
              <div class="catalog__card-img">
                <img src="./img/catalog/3.png" alt="">
              </div>

              <h3 class="catalog__card-title">
                Мультимедійні системи 1-DIN
              </h3>
            </div>
            <div class="catalog__card">
              <div class="catalog__card-img">
                <img src="./img/catalog/4.png" alt="">
              </div>

              <h3 class="catalog__card-title">
                LED лінзи
              </h3>
            </div>
            <div class="catalog__card">
              <div class="catalog__card-img">
                <img src="./img/catalog/5.png" alt="">
              </div>

              <h3 class="catalog__card-title">
                LED лампи головного світла
              </h3>
            </div>
            <div class="catalog__card">
              <div class="catalog__card-img">
                <img src="./img/catalog/6.png" alt="">
              </div>

              <h3 class="catalog__card-title">
                Ксенонове світло
              </h3>
            </div>
            <div class="catalog__card">
              <div class="catalog__card-img">
                <img src="./img/catalog/7.png" alt="">
              </div>

              <h3 class="catalog__card-title">
                Ксенонові лінзи
              </h3>
            </div>
            <div class="catalog__card">
              <div class="catalog__card-img">
                <img src="./img/catalog/8.png" alt="">
              </div>

              <h3 class="catalog__card-title">
                Фари робочого світла та DRL
              </h3>
            </div>
            <div class="catalog__card">
              <div class="catalog__card-img">
                <img src="./img/catalog/9.png" alt="">
              </div>

              <h3 class="catalog__card-title">
                LED балки
              </h3>
            </div>
            <div class="catalog__card">
              <div class="catalog__card-img">
                <img src="./img/catalog/10.png" alt="">
              </div>

              <h3 class="catalog__card-title">
                LED лампи додаткового світла
              </h3>
            </div>
            <div class="catalog__card">
              <div class="catalog__card-img">
                <img src="./img/catalog/11.png" alt="">
              </div>

              <h3 class="catalog__card-title">
                Аксесуари
              </h3>
            </div>
            <div class="catalog__card">
              <div class="catalog__card-img">
                <img src="./img/catalog/12.png" alt="">
              </div>

              <h3 class="catalog__card-title">
                Камери
              </h3>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>
