<div class="categories">
  <div class="categories__wrapper">
    <div class="categories__cpntainer _container">
      <div class="categories__body">
        <div class="categories__top">
          <h2 class="categories__title title h2-title">
            Акустичні системи
          </h2>

          <div class="categories__actions">
              <button class="categories__sort main-text">
                <i class="icon-sort"></i>

                <span>Сортувати</span>
              </button>
              <div class="categories__dropdown dropdown">

                <button class="categories__button main-text dropdown-open">
                  <span>По рейтингу</span>
                  <i class="icon-arrow-down"></i>
                </button>

                <ul class="dropdown-list">
                  <li data-value="rate">
                    <span>
                      По рейтингу
                    </span>
                  </li>
                  <li data-value="date">
                    <span>
                      По даті
                    </span>
                  </li>
                  <li data-value="review">
                    <span>
                      По відгукам
                    </span>
                  </li>
                  <li data-value="price">
                    <span>
                      По ціні
                    </span>
                  </li>
                  <li data-value="has">
                    <span>
                      По наявності
                    </span>
                  </li>
                </ul>
              </div>
          </div>
        </div>
        <div class="categories__filters-list">
          <span class="categories__filter categories__result main-text">
            Результатів: <span class="main-text-semibold">56</span>
          </span>

          <span class="categories__filter main-text">
            <span>Скинути</span>
            <i class="icon-x"></i>
          </span>
          <span class="categories__filter main-text">
            <span class="categories__filter-name">Ціна:</span>
            <span class="categories__filter-value">1000 - 2000</span>
            <i class="icon-x"></i>
          </span>
          <span class="categories__filter main-text">
            <span class="categories__filter-name">Номінальна потужність:</span>
            <span class="categories__filter-value">100</span>
            <i class="icon-x"></i>
          </span>
        </div>
        <div class="categories__main">
          <div class="categories__sidebar">
            <div class="categories__sidebar-section">
              <h3 class="categories__sidebar-title">
                <i class="icon-catalog"></i> Каталог:
              </h3>

              <div class="categories__sidebar-list" data-spollers>
                <a href="#" class="categories__sidebar-li">LED лінзи</a>
                <a href="#" class="categories__sidebar-li">LED лампи головного світла</a>
                <div class="categories__sidebar-li">
                  <div class="categories__sidebar-spoller">
                    <button class="categories__sidebar-spoller-button" data-spoller>Фари робочого світла та DRL <i class="icon-arrow-down"></i></button>
                    <div>
                      <ul class="categories__sidebar-spoller-list">
                        <li>Ходові вогні</li>
                        <li>Фари робочого світла</li>
                        <li>LED балки</li>
                      </ul>
                    </div>
                  </div>
                </div>
                <a href="#" class="categories__sidebar-li">Ксенонове світло</a>
                <a href="#" class="categories__sidebar-li">Ксенонові лінзи</a>
                <a href="#" class="categories__sidebar-li">LED лампи додаткового світла</a>
                </div>
            </div>

            <div class="categories__sidebar-section">
              <h3 class="categories__sidebar-title">
                Сортування:
              </h3>

              <div class="categories__sidebar-list">
                <div class="categories__sidebar-li">
                  <input type="radio" name="sort1" id="growPrice" />
                  <label for="growPrice"> За зростанням ціни </label>
                </div>
                <div class="categories__sidebar-li">
                  <input type="radio" name="sort1" id="fallPrice" />
                  <label for="fallPrice"> За зниженням ціни </label>
                </div>
                <div class="categories__sidebar-li">
                  <input type="radio" name="sort1" id="name" />
                  <label for="name"> За назвою (А-Я) </label>
                </div>
                <div class="categories__sidebar-li">
                  <input type="radio" name="sort1" id="power" />
                  <label for="power"> Потужність </label>
                </div>
                <div class="categories__sidebar-li">
                  <input type="radio" name="sort1" id="potik" />
                  <label for="potik"> Світловий потік </label>
                </div>
                <div class="categories__sidebar-li">
                  <input type="radio" name="sort1" id="temp" />
                  <label for="temp"> Колірна температура </label>
                </div>
              </div>
            </div>

            <div class="categories__sidebar-section">
              <h3 class="categories__sidebar-title">
                Цоколь:
              </h3>

              <div class="categories__sidebar-list">
                <div class="categories__sidebar-li">
                  <input type="checkbox"  id="growPrice" />
                  <label for="growPrice">
                    9012
                    <span class="sub-value text-gray">5</span>
                   </label>
                </div>
                <div class="categories__sidebar-li">
                  <input type="checkbox"  id="fallPrice" />
                  <label for="fallPrice">
                     D2
                     <span class="sub-value text-gray">1</span>
                   </label>
                </div>
                <div class="categories__sidebar-li">
                  <input type="checkbox"  id="name" />
                  <label for="name"> D2S </label>
                </div>
                <div class="categories__sidebar-li">
                  <input type="checkbox"  id="power" />
                  <label for="power"> Потужність </label>
                </div>
                <div class="categories__sidebar-li">
                  <input type="checkbox"  id="potik" />
                  <label for="potik"> Світловий потік </label>
                </div>
                <div class="categories__sidebar-li">
                  <input type="checkbox"  id="temp" />
                  <label for="temp"> Колірна температура </label>
                </div>
              </div>
            </div>
          </div>
          <div class="categories__result">

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
