<div class="cooperation">
  <div class="cooperation__wrapper">
    <h2 class="cooperation__title title _container">
      <span class="text-red">drivex</span> - Надійний партнер у вашому бізнесі
    </h2>

    <div class="cooperation__main">
      <div class="cooperation__container _container">
        <div class="cooperation__body">
          <div class="cooperation__col cooperation__texts">
            <h3 class="cooperation__subtitle">
              Станьте нашим партнером:
              Найкращі умови для успішної співпраці
            </h3>

            <div class="cooperation__line">
            </div>

            <ul class="cooperation__list">
              <li class="cooperation__li">

                <p>
                  Ми пропонуємо нашим партнерам найвигідніші умови співпраці, включаючи прозорі ціни без посередників та
                  переплат.
                </p>
              </li>
              <li class="cooperation__li">
                <p>
                  Ви отримуєте доступ до актуальних залишків та тільки ходових позицій, що гарантує швидкий обіг
                  товарів.
                </p>
              </li>
              <li class="cooperation__li">
                <p>
                  Співпрацюючи з нами, ви можете бути впевнені в якості автомобільного світла, яке забезпечує
                  максимальну безпеку на дорозі, а також у широкому виборі автоаксесуарів, що задовольнять будь-які
                  потреби ваших клієнтів.
                </p>
              </li>
            </ul>

            <button class="cooperation__button button white outlined">Зв'язатися з нами</button>
          </div>
          <div class="cooperation__col">
            <img class="cooperation__car not-tablet" src="./img/cooperation/car-pc.png" alt="">
            <img class="cooperation__car tablet" src="./img/cooperation/car-mob.png" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>