<section class='feed'>
  <div class='feed__wrapper'>
    <div class='feed__container _container'>
      <div class='feed__body'>
        @@if(context.title){
        <h2 class="feed__title title">
          @@title
        </h2>
        }

        @@if(context.desc){
        <p class="feed__desc main-text">
          @@desc
        </p>
        }

        <div class="feed__slider swiper">
          <div class="swiper-wrapper">
            <div class="card swiper-slide">
              <span class="card__status">В наявності</span>

              <img src="./img/products/image-1.png" alt="" class="card__img">
              <div class="card__info">
                <p class="card__name">
                  GT-693
                </p>

                <div class="card__bottom">
                  <div class="card__rate">
                    <i class="icon-star text-orange"></i>
                    <i class="icon-star text-orange"></i>
                    <i class="icon-star text-orange"></i>
                    <i class="icon-star text-orange"></i>
                    <i class="icon-star text-light-gray"></i>
                  </div>

                  <div class="card__actions">
                    <p class="card__price">1 706 грн.</p>

                    <div class="card__buttons">
                      <button class="card__button card__button-heart">
                        <i class="icon-heart"></i>
                      </button>
                      <button class="card__button card__button-basket">
                        <i class="icon-bag"></i>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="card empty swiper-slide">
              <span class="card__status">Немає</span>

              <img src="./img/products/image-2.png" alt="" class="card__img">
              <div class="card__info">
                <p class="card__name">
                  D1/D3/D8 DLX 9-16V 65W 6000K CAN к-т.
                </p>

                <div class="card__bottom">
                  <div class="card__rate">
                    <i class="icon-star text-orange"></i>
                    <i class="icon-star text-orange"></i>
                    <i class="icon-star text-orange"></i>
                    <i class="icon-star text-orange"></i>
                    <i class="icon-star text-light-gray"></i>
                  </div>

                  <div class="card__actions">
                    <p class="card__price">1 706 грн.</p>

                    <div class="card__buttons">
                      <button class="card__button card__button-heart">
                        <i class="icon-heart"></i>
                      </button>
                      <button class="card__button card__button-basket">
                        <i class="icon-bag"></i>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="card swiper-slide">
              <span class="card__status">В наявності</span>

              <img src="./img/products/image-3.png" alt="" class="card__img">
              <div class="card__info">
                <p class="card__name">
                  D1/D3/D8 DLX 9-16V 65W 6000K CAN к-т.
                </p>

                <div class="card__bottom">
                  <div class="card__rate">
                    <i class="icon-star text-orange"></i>
                    <i class="icon-star text-orange"></i>
                    <i class="icon-star text-orange"></i>
                    <i class="icon-star text-orange"></i>
                    <i class="icon-star text-light-gray"></i>
                  </div>

                  <div class="card__actions">
                    <p class="card__price">1 706 грн.</p>

                    <div class="card__buttons">
                      <button class="card__button card__button-heart">
                        <i class="icon-heart-fill"></i>
                      </button>
                      <button class="card__button card__button-basket active">
                        <i class="icon-check-mark"></i>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="card swiper-slide">
              <span class="card__status">В наявності</span>

              <img src="./img/products/image-3.png" alt="" class="card__img">
              <div class="card__info">
                <p class="card__name">
                  D1/D3/D8 DLX 9-16V 65W 6000K CAN к-т.
                </p>

                <div class="card__bottom">
                  <div class="card__rate">
                    <i class="icon-star text-orange"></i>
                    <i class="icon-star text-orange"></i>
                    <i class="icon-star text-orange"></i>
                    <i class="icon-star text-orange"></i>
                    <i class="icon-star text-light-gray"></i>
                  </div>

                  <div class="card__actions">
                    <p class="card__price">1 706 грн.</p>

                    <div class="card__buttons">
                      <button class="card__button card__button-heart">
                        <i class="icon-heart"></i>
                      </button>
                      <button class="card__button card__button-basket active">
                        <i class="icon-bag"></i>
                      </button>
                    </div>
                  </div>
                </div>
              </div>


            </div>
            <div class="card swiper-slide">
              <span class="card__status">В наявності</span>

              <img src="./img/products/image-3.png" alt="" class="card__img">
              <div class="card__info">
                <p class="card__name">
                  D1/D3/D8 DLX 9-16V 65W 6000K CAN к-т.
                </p>

                <div class="card__bottom">
                  <div class="card__rate">
                    <i class="icon-star text-orange"></i>
                    <i class="icon-star text-orange"></i>
                    <i class="icon-star text-orange"></i>
                    <i class="icon-star text-orange"></i>
                    <i class="icon-star text-light-gray"></i>
                  </div>

                  <div class="card__actions">
                    <p class="card__price">1 706 грн.</p>

                    <div class="card__buttons">
                      <button class="card__button card__button-heart">
                        <i class="icon-heart"></i>
                      </button>
                      <button class="card__button card__button-basket active">
                        <i class="icon-bag"></i>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="card swiper-slide">
              <span class="card__status">В наявності</span>

              <img src="./img/products/image-3.png" alt="" class="card__img">
              <div class="card__info">
                <p class="card__name">
                  D1/D3/D8 DLX 9-16V 65W 6000K CAN к-т.
                </p>

                <div class="card__bottom">
                  <div class="card__rate">
                    <i class="icon-star text-orange"></i>
                    <i class="icon-star text-orange"></i>
                    <i class="icon-star text-orange"></i>
                    <i class="icon-star text-orange"></i>
                    <i class="icon-star text-light-gray"></i>
                  </div>

                  <div class="card__actions">
                    <p class="card__price">1 706 грн.</p>

                    <div class="card__buttons">
                      <button class="card__button card__button-heart">
                        <i class="icon-heart"></i>
                      </button>
                      <button class="card__button card__button-basket active">
                        <i class="icon-bag"></i>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>


        <div class="feed__bottom">

          <div class="feed__actions">
            <button class="feed__prev feed__slider-button"><i class="icon-arrow-left"></i></button>
            <div class="feed__pagination mob"></div>
            <button class="feed__next feed__slider-button"><i class="icon-arrow-right"></i></button>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>