<footer class="footer">
  <div class="footer__wrapper">
    <img src="./img/footer/bg.png" alt="" class="footer__bg not-mob">
    <img src="./img/footer/bg-mob.png" alt="" class="footer__bg mob">
    <div class="footer__container _container">
      <div class="footer__body">
        <div class="footer__title">DRIVEX</div>

        <div class="footer__cols">
          <ul class="footer__col">
            <li><a href="#" class="footer__link">Умови співпраці</a></li>
            <li><a href="#" class="footer__link">Гарантія та повернення</a></li>
            <li><a href="#" class="footer__link">Методика тестування LED ламп DriveX</a></li>
          </ul>
          <ul class="footer__col">
            <li><a href="#" class="footer__link">Доставка та оплата</a></li>
            <li><a href="#" class="footer__link">Графік роботи</a></li>
            <li><a href="#" class="footer__link footer__phone mob">+380980789262</a></li>
            <li>
              <div class="footer__networks mob">
                <a href="#" class="footer__network">
                  <img src="./img/footer/instagram.png" alt="Instagram">
                </a>
                <a href="#" class="footer__network">
                  <img src="./img/footer/tik-tok.png" alt="Tik Tok">
                </a>
                <a href="#" class="footer__network">
                  <img src="./img/footer/youtube.png" alt="Youtube">
                </a>
                <a href="#" class="footer__network">
                  <img src="./img/footer/facebook.png" alt="Facebook">
                </a>
                <a href="#" class="footer__network">
                  <img src="./img/footer/telegram.png" alt="Telegram">
                </a>
                <a href="#" class="footer__network">
                  <img src="./img/footer/viber.png" alt="Viber">
                </a>
              </div>
            </li>
          </ul>
          <ul class="footer__col not-mob">
            <li><a href="#" class="footer__link footer__phone">+380980789262</a></li>
            <li>
              <div class="footer__networks">
                <a href="#" class="footer__network">
                  <img src="./img/footer/instagram.png" alt="Instagram">
                </a>
                <a href="#" class="footer__network">
                  <img src="./img/footer/tik-tok.png" alt="Tik Tok">
                </a>
                <a href="#" class="footer__network">
                  <img src="./img/footer/youtube.png" alt="Youtube">
                </a>
                <a href="#" class="footer__network">
                  <img src="./img/footer/facebook.png" alt="Facebook">
                </a>
                <a href="#" class="footer__network">
                  <img src="./img/footer/telegram.png" alt="Telegram">
                </a>
                <a href="#" class="footer__network">
                  <img src="./img/footer/viber.png" alt="Viber">
                </a>
              </div>
            </li>
          </ul>
        </div>

        <div class="footer__bottom">
          <div class="footer__logo">
            <img src="./img/logo-2.svg" alt="Logo DriveX">
          </div>

          <p class="footer__rights">
            © 2024 Всі права захищені.
          </p>
        </div>
      </div>
    </div>
  </div>
</footer>

<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
<script src="js/script.js"></script>