<header class="header">
  <div class="header__wrapper">
    <div class="header__container _container">
      <div class="header__body">
        <a href="/" class="header__logo">
          <img src="./img/logo.svg" alt="">
        </a>
        <a href="#" class="header__button main-text-semibold header__catalog">
          <i class="icon-element-plus"></i>
          <span>КАТАЛОГ</span>
        </a>

        <div class="header__search search-input not-table">
          <i class="icon-search"></i>
          <input type="text" placeholder="AL-09 H7 6000K LED">
        </div>

        <button class="header__button main-text-semibold header__cooperation">
          <span>Співпраця</span>
          <i class="icon-handsnake"></i>
        </button>

        <div class="header__dropdown dropdown">

          <button class="header__button header__client main-text-semibold dropdown-open">
            <span>Клієнтам</span>
            <i class="icon-arrow-down"></i>
          </button>

          <ul class="dropdown-list">
            <li>
              <a href="#">
                Контакти
              </a>
            </li>
            <li>
              <a href="#">
                Гарантія та повернення
              </a>
            </li>
            <li>
              <a href="#">
                Співпраця
              </a>
            </li>
            <li>
              <a href="#">
                Дропшипінг
              </a>
            </li>
            <li>
              <a href="#">
                Графік роботи
              </a>
            </li>
            <li>
              <a href="#">
                Часті запитання FAQ
              </a>
            </li>
          </ul>
        </div>

        <button class="header__button-icon text-orange-2 header__button-phone">
          <i class="icon-phone"></i>
        </button>
        <button class="header__button-icon text-orange-2 header__button-chat">
          <i class="icon-chat"></i>
        </button>
        <button class="header__button-icon">
          <i class="icon-equalize"></i>
        </button>
        <button class="header__button-icon">
          <i class="icon-heart"></i>
        </button>
        <button class="header__button-icon">
          <i class="icon-basket"></i>
        </button>
        <button class="header__button-icon">
          <i class="icon-person"></i>
        </button>
      </div>
    </div>
  </div>
</header>