<section class='main'>
  <div class='main__wrapper'>
    <div class='main__container _container'>
      <div class='main__body'>
        <div class="main__catalog catalog-menu">
          <a href="#" class="catalog-menu__link">
            <i class="icon-element-plus catalog-menu__element"></i>

            <span>Акустичні  системи</span>
          </a>
          <a href="#" class="catalog-menu__link">
            <i class="icon-element-plus catalog-menu__element"></i>

            <span>Мультимедійні  системи 2-DIN</span>
          </a>
          <a href="#" class="catalog-menu__link">
            <i class="icon-element-plus catalog-menu__element"></i>

            <span>Мультимедійні  системи 1-DIN</span>
          </a>
          <a href="#" class="catalog-menu__link">
            <i class="icon-element-plus catalog-menu__element"></i>

            <span>LED лінзи</span>
          </a>
          <div class="catalog-menu__list">

            <button class="catalog-menu__button">
              <i class="icon-element-plus catalog-menu__element"></i>

              <span>LED лампи головного світла</span>

              <i class="icon-arrow-right catalog-menu__arrow"></i>
            </button>

            <ul class="catalog-menu__child-list">
              <li>
                <a href="#" class="catalog-menu__link">
                  <i class="icon-element-plus catalog-menu__element"></i>

                  <span>Лампа 1</span>
                </a>
              </li>
              <li>
                <a href="#" class="catalog-menu__link">
                  <i class="icon-element-plus catalog-menu__element"></i>

                  <span>Лампа 2</span>
                </a>
              </li>
              <li>
                <a href="#" class="catalog-menu__link">
                  <i class="icon-element-plus catalog-menu__element"></i>

                  <span>Лампа 3</span>
                </a>
              </li>
              <li>
                <a href="#" class="catalog-menu__link">
                  <i class="icon-element-plus catalog-menu__element"></i>

                  <span>Лампа 4</span>
                </a>
              </li>
            </ul>
        </div>
          <a href="#" class="catalog-menu__link">
            <i class="icon-element-plus catalog-menu__element"></i>

            <span>Ксенонове світло</span>
          </a>
          <a href="#" class="catalog-menu__link">
            <i class="icon-element-plus catalog-menu__element"></i>

            <span>Ксенонові лінзи</span>
          </a>
          <a href="#" class="catalog-menu__link">
            <i class="icon-element-plus catalog-menu__element"></i>

            <span>Фари робочого світла та DRL</span>
          </a>
          <a href="#" class="catalog-menu__link">
            <i class="icon-element-plus catalog-menu__element"></i>

            <span>LED балки</span>
          </a>
          <a href="#" class="catalog-menu__link">
            <i class="icon-element-plus catalog-menu__element"></i>

            <span>LED лампи додаткового світла</span>
          </a>
          <div class="catalog-menu__list">

            <button class="catalog-menu__button">
              <i class="icon-element-plus catalog-menu__element"></i>

              <span>Аксесуари</span>

              <i class="icon-arrow-right catalog-menu__arrow"></i>
            </button>

            <ul class="catalog-menu__child-list">
              <li>
                <a href="#" class="catalog-menu__link">


                  <i class="icon-element-plus catalog-menu__element"></i>

                  <span>Аксесуар</span>
                </a>
              </li>
              <li>
                <a href="#" class="catalog-menu__link">


                  <i class="icon-element-plus catalog-menu__element"></i>

                  <span>  Аксесуар 2</span>
                </a>
              </li>
              <li>
                <a href="#" class="catalog-menu__link">
                  <i class="icon-element-plus catalog-menu__element"></i>

                  <span>Аксесуар 2</span>
                </a>
              </li>
              <li>
                <a href="#" class="catalog-menu__link">

                  <i class="icon-element-plus catalog-menu__element"></i>

                  <span>Аксесуар 4</span>
                </a>
              </li>
            </ul>
          </div>
          <a href="#" class="catalog-menu__link">
            <i class="icon-element-plus catalog-menu__element"></i>

            <span>Камери</span>


          </a>
        </div>

        <div class="main__search search-input tablet">
          <i class="icon-search"></i>
          <input type="text" placeholder="AL-09 H7 6000K LED">
        </div>

        <div class="main__banners">
          <div class="main__banners-slider-body main__banner-1">
            <div class="main__banners-slider swiper">
              <div class="swiper-wrapper">
                <div class="main__banner main__banner-big swiper-slide">
                  <img src="./img/main/banner-big-bg-1.png" alt="" class="main__banner-bg main__banner-bg-1 not-mob">
                  <img src="./img/main/banner-big-bg-2.png" alt="" class="main__banner-bg main__banner-bg-2 mob">
                  <div class="main__banner-info">
                    <p class="main__banner-name">
                      BiLED Evolution F1S
                      <span>3.0" 47/53W 6000K</span>
                    </p>
                    <p class="main__banner-slogan">
                      світло там, де воно потрібне
                    </p>
                    <p class="main__banner-desc">Один чіп - чітка СТМ без засліплення</p>
                  </div>

                  <img src="./img/main/detail-1.png" alt="" class="main__banner-img">
                </div>
                <div class="main__banner main__banner-big swiper-slide">
                  <img src="./img/main/banner-big-bg-1.png" alt="" class="main__banner-bg main__banner-bg-1 not-mob">
                  <img src="./img/main/banner-big-bg-2.png" alt="" class="main__banner-bg main__banner-bg-2 mob">
                  <div class="main__banner-info">
                    <p class="main__banner-name">
                      BiLED Evolution F1S
                      <span>3.0" 47/53W 6000K</span>
                    </p>
                    <p class="main__banner-slogan">
                      світло там, де воно потрібне
                    </p>
                    <p class="main__banner-desc">Один чіп - чітка СТМ без засліплення</p>
                  </div>

                  <img src="./img/main/detail-1.png" alt="" class="main__banner-img">
                </div>
                <div class="main__banner main__banner-big swiper-slide">
                  <img src="./img/main/banner-big-bg-1.png" alt="" class="main__banner-bg main__banner-bg-1 not-mob">
                  <img src="./img/main/banner-big-bg-2.png" alt="" class="main__banner-bg main__banner-bg-2 mob">
                  <div class="main__banner-info">
                    <p class="main__banner-name">
                      BiLED Evolution F1S
                      <span>3.0" 47/53W 6000K</span>
                    </p>
                    <p class="main__banner-slogan">
                      світло там, де воно потрібне
                    </p>
                    <p class="main__banner-desc">Один чіп - чітка СТМ без засліплення</p>
                  </div>

                  <img src="./img/main/detail-1.png" alt="" class="main__banner-img">
                </div>
              </div>
            </div>
          </div>

          <div class="main__banner main__banner-small main__banner-2">
            <img src="./img/main/banner-small-bg-2.png" alt="" class="main__banner-bg">
            <div class="main__banner-info">
              <p class="main__banner-name">
                AL-01 PRO 52W CAN 9-32V 6000K
              </p>
              <p class="main__banner-slogan">
                Лідер продажів в Україні
              </p>

              <img src="./img/main/detail-2.png" alt="" class="main__banner-img">
            </div>
          </div>

          <div class="main__banner main__banner-small main__banner-3">
            <img src="./img/main/banner-small-bg-2.png" alt="" class="main__banner-bg">
            <div class="main__banner-info">
              <p class="main__banner-name">
                AL-01 PRO 52W CAN 9-32V 6000K
              </p>
              <p class="main__banner-slogan">
                Лідер продажів в Україні
              </p>

              <img src="./img/main/detail-2.png" alt="" class="main__banner-img">
            </div>
          </div>
        </div>

        <div class="main__banners-pagination tablet">

        </div>
      </div>
    </div>
  </div>
</section>
