<section class='menu'>
  <div class='menu__container _container'>
    <div class='menu__body'>
      <a href="#" class="menu__item">
        <i class="icon-comparison"></i>
        <span class="main-text">Порівняти</span>
      </a>

      <a href="#" class="menu__item">
        <i class="icon-heart-tick"></i>
        <span class="main-text">Обране</span>
      </a>

      <a href="#" class="menu__item">
        <i class="icon-element-plus"></i>
        <span class="main-text">Каталог</span>
      </a>

      <a href="#" class="menu__item">
        <i class="icon-bag"></i>
        <span class="main-text">Кошик</span>
      </a>

      <a href="#" class="menu__item">
        <i class="icon-user-add"></i>
        <span class="main-text">Ще...</span>
      </a>
    </div>
  </div>
</section>