<section class='products'>
  <div class='products__wrapper'>
    <div class='products__container _container'>
      <div class='products__body'>
        <h2 class="products__title text-gray h1-title"><span class="text-red">
            Інноваційні
          </span>
          світлові рішення та автоаксесуари</h2>

        <p class="products__desc main-text">
          Підвищуйте рівень безпеки та комфорту за допомогою наших сучасних джерел освітлення та функціональних
          аксесуарів.
        </p>

        <div class="products__slider swiper">
          <div class="swiper-wrapper">
            <div class="card swiper-slide">
              <span class="card__status">В наявності</span>

              <img src="./img/products/image-1.png" alt="" class="card__img">
              <div class="card__info">
                <p class="card__name">
                  GT-693
                </p>

                <div class="card__bottom">
                  <div class="card__rate">
                    <i class="icon-star text-orange"></i>
                    <i class="icon-star text-orange"></i>
                    <i class="icon-star text-orange"></i>
                    <i class="icon-star text-orange"></i>
                    <i class="icon-star text-light-gray"></i>
                  </div>

                  <div class="card__actions">
                    <p class="card__price">1 706 грн.</p>

                    <div class="card__buttons">
                      <button class="card__button card__button-heart">
                        <i class="icon-heart"></i>
                      </button>
                      <button class="card__button card__button-basket">
                        <i class="icon-bag"></i>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="card empty swiper-slide">
              <span class="card__status">Немає</span>

              <img src="./img/products/image-2.png" alt="" class="card__img">
              <div class="card__info">
                <p class="card__name">
                  D1/D3/D8 DLX 9-16V 65W 6000K CAN к-т.
                </p>

                <div class="card__bottom">
                  <div class="card__rate">
                    <i class="icon-star text-orange"></i>
                    <i class="icon-star text-orange"></i>
                    <i class="icon-star text-orange"></i>
                    <i class="icon-star text-orange"></i>
                    <i class="icon-star text-light-gray"></i>
                  </div>

                  <div class="card__actions">
                    <p class="card__price">1 706 грн.</p>

                    <div class="card__buttons">
                      <button class="card__button card__button-heart">
                        <i class="icon-heart"></i>
                      </button>
                      <button class="card__button card__button-basket">
                        <i class="icon-bag"></i>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="card swiper-slide">
              <span class="card__status">В наявності</span>

              <img src="./img/products/image-3.png" alt="" class="card__img">
              <div class="card__info">
                <p class="card__name">
                  D1/D3/D8 DLX 9-16V 65W 6000K CAN к-т.
                </p>

                <div class="card__bottom">
                  <div class="card__rate">
                    <i class="icon-star text-orange"></i>
                    <i class="icon-star text-orange"></i>
                    <i class="icon-star text-orange"></i>
                    <i class="icon-star text-orange"></i>
                    <i class="icon-star text-light-gray"></i>
                  </div>

                  <div class="card__actions">
                    <p class="card__price">1 706 грн.</p>

                    <div class="card__buttons">
                      <button class="card__button card__button-heart">
                        <i class="icon-heart-fill"></i>
                      </button>
                      <button class="card__button card__button-basket active">
                        <i class="icon-check-mark"></i>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="card swiper-slide">
              <span class="card__status">В наявності</span>

              <img src="./img/products/image-3.png" alt="" class="card__img">
              <div class="card__info">
                <p class="card__name">
                  D1/D3/D8 DLX 9-16V 65W 6000K CAN к-т.
                </p>

                <div class="card__bottom">
                  <div class="card__rate">
                    <i class="icon-star text-orange"></i>
                    <i class="icon-star text-orange"></i>
                    <i class="icon-star text-orange"></i>
                    <i class="icon-star text-orange"></i>
                    <i class="icon-star text-light-gray"></i>
                  </div>

                  <div class="card__actions">
                    <p class="card__price">1 706 грн.</p>

                    <div class="card__buttons">
                      <button class="card__button card__button-heart">
                        <i class="icon-heart"></i>
                      </button>
                      <button class="card__button card__button-basket active">
                        <i class="icon-bag"></i>
                      </button>
                    </div>
                  </div>
                </div>
              </div>


            </div>
          </div>
        </div>


        <div class="products__bottom">
          <a class="products__button">
            <i class="icon-element-plus"></i>
            <span>В КАТАЛОГ</span>
          </a>

          <div class="products__actions">
            <div class="products__prev"><i class="icon-arrow-left"></i></div>
            <div class="products__pagination"></div>
            <div class="products__next"><i class="icon-arrow-right"></i></div>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>