<section class='product-card'>
  <div class='product-card__wrapper'>
    <div class='product-card__container _container'>
      <div class='product-card__body'>
        <div class="product-card__left">

          <div class="product-card__gallery">
            <button class="product-card__video">
              <i class="icon-play"></i>
              <span>VIDEO</span>
            </button>

            <div class="swiper product-card__slider">
              <div class="swiper-wrapper">
                <div class="swiper-slide">
                  <img src="./img/products/image-big.png" />
                </div>
                <div class="swiper-slide">
                  <img src="./img/products/image-big.png" />
                </div>
                <div class="swiper-slide">
                  <img src="./img/products/image-big.png" />
                </div>
                <div class="swiper-slide">
                  <img src="./img/products/image-big.png" />
                </div>
                <div class="swiper-slide">
                  <img src="./img/products/image-big.png" />
                </div>
              </div>
            </div>
            <div thumbsSlider="" class="swiper product-card__slider-thumb">
              <button class="product-card__slider-thumb-prev">
                <i class="icon-arrow-left"></i>
              </button>
              <div class="swiper-wrapper">
                <div class="swiper-slide">
                  <img src="./img/products/image-big.png" />
                </div>
                <div class="swiper-slide">
                  <img src="./img/products/image-big.png" />
                </div>
                <div class="swiper-slide">
                  <img src="./img/products/image-big.png" />
                </div>
                <div class="swiper-slide">
                  <img src="./img/products/image-big.png" />
                </div>
                <div class="swiper-slide">
                  <img src="./img/products/image-big.png" />
                </div>
              </div>
              <button class="product-card__slider-thumb-next">
                <i class="icon-arrow-right"></i>
              </button>

            </div>
          </div>


        </div>
        <div class="product-card__right"></div>
      </div>
    </div>
  </div>
</section>