<div class="reviews">
  <div class="reviews__wrapper">
    <div class="reviews__container _container">
      <div class="reviews__body">
        <h2 class="reviews__title title">ВІДГУКИ НАШИХ КЛІЄНТІВ</h2>
        <div class="reviews__slider-body">
          <div class="reviews__slider swiper">
            <div class="swiper-wrapper">
              <div class="swiper-slide reviews__review">
                <h4 class="reviews__review-name">Гена</h4>
                <div class="reviews__review-rate">
                  <i class="icon-star reviews__review-star text-orange"></i>
                  <i class="icon-star reviews__review-star text-orange"></i>
                  <i class="icon-star reviews__revie-star text-orange"></i>
                  <i class="icon-star reviews__review-star text-orange"></i>
                  <i class="icon-star reviews__review-star text-orange"></i>
                </div>

                <p class="reviews__review-text">
                  Дякую за швидку доставку. Якість продукції просто кайф, тепер тільки у вас буду купувати! Найкраще автосвітло та музика серед усіх!
                </p>
              </div>

              <div class="swiper-slide reviews__review">
                <h4 class="reviews__review-name">Вадим</h4>
                <div class="reviews__review-rate">
                  <i class="icon-star reviews__review-star text-orange"></i>
                  <i class="icon-star reviews__review-star text-orange"></i>
                  <i class="icon-star reviews__revie-star text-orange"></i>
                  <i class="icon-star reviews__review-star text-orange"></i>
                  <i class="icon-star reviews__review-star text-orange"></i>
                </div>

                <p class="reviews__review-text">
                  Дякую за швидку доставку. Якість продукції просто кайф, тепер тільки у вас буду купувати! Найкраще автосвітло та музика серед усіх!
                </p>
              </div>
            </div>
          </div>

          <button class="reviews__slider-button reviews__slider-prev">
            <i class="icon-arrow-left"></i>
          </button>
          <button class="reviews__slider-button reviews__slider-next">
            <i class="icon-arrow-right"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
